.orders-page{
    padding: 0;
    height:100%;
}

.navbar-nav{
    justify-content: space-between;
    align-items: center;
    height: auto;

}

li{
    margin-left: 15px;
    height:50px;
    justify-content: space-around;
}

li:hover{
    border-bottom: 1px solid red;
}

a{
    cursor: pointer;
}