.orders-page{
    padding: 0;
    height:100%;
    margin:0;
    overflow:auto;
    background-color: rgb(246, 248, 252);
    font-family: Helvetica, Arial, sans-serif;
}

.navbar-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
}

li{
    margin-left: 15px;
    height:50px;
    justify-content: space-around;
}

li:hover{
    border-bottom: 1px solid red;
}

a{
    cursor: pointer;
}

.lot{
    justify-content: flex-end;
}

.orders{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100%;
    margin: 0;
    font-size: 18px;
    margin-bottom: 15px;
}

.current{
    margin-top:20px;
    margin-left:30px;
    margin-right: 30px;
    display:grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 70px 70px 70px;
    width:1000px;
    height:fit-content;
    padding:20px 50px;
    background-color: white;
    box-shadow: 1px 2px 10px rgba(158, 157, 157, 0.2);
    border-radius: 5px;
    white-space: nowrap;
}

.lab{
    color:rgba(0,0,0,0.5);
    font-size: 14px;
}

.ongoing{
    color: #a74482;
}

.delivered{
    color:limegreen;
}

.processing{
    color:#f9dc5c;
}

.price{
    color:rgba(61, 150, 91, 0.884);
}

#ic{
    font-size: 48px;
    color:rgba(248, 172, 32, 0.651);
    
}


@media only screen and (max-width:500px){

    .current{
        margin-top:20px;
        margin-left:30px;
        margin-right: 30px;
        font-size: 10px;
        display:grid;
        row-gap: 15px;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
        width:90%;
        height:fit-content;
        padding:10px 2px;
        background-color: white;
        box-shadow: 1px 2px 10px rgba(158, 157, 157, 0.2);
        border-radius: 5px;
    }

    .lab{
        font-size: 8px;
    }

}


@media only screen and (max-width:768px){

    .current{
        margin-top:20px;
        margin-left:30px;
        margin-right: 30px;
        font-size: 14px;
        display:grid;
        row-gap: 15px;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
        width:90%;
        height:fit-content;
        padding:10px 2px;
        background-color: white;
        box-shadow: 1px 2px 10px rgba(158, 157, 157, 0.2);
        border-radius: 5px;
    }

    .lab{
        font-size: 12px;
    }

}

@media only screen and (max-width:1030px) and (min-width:768px){

    .current{
        margin-top:20px;
        margin-left:30px;
        margin-right: 30px;
        font-size: 14px;
        display:grid;
        row-gap: 15px;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        width:90%;
        height:fit-content;
        padding:10px 2px;
        background-color: white;
        box-shadow: 1px 2px 10px rgba(158, 157, 157, 0.2);
        border-radius: 5px;
    }

    .lab{
        font-size: 12px;
    }

}