.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(246, 248, 252);
    height: 100vh;
    background-image: url("../../assets/logbg.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.login .login-container{
    text-align: center;
    margin-top: 50px;
    min-height: 400px;
    max-height: fit-content;
    padding-top: 60px;
    padding-left:45px;
    padding-right:45px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.685);
    box-shadow: 0 1px 10px rgba(0,0,0,0.5);
    width:400px;
}

.login-container .form-control-group{
    display: flex;
    flex-direction: column;
    margin-top:20px;
    padding:10px 0px;
}

.form-control-group input{
    outline:none;
    height:45px;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
}

.vis{
    float: right;
    margin-left: 260px;
    margin-top: -34px;
    position: relative;
    z-index: 2;  
    cursor: pointer;
}

.form .btn{
    margin-top: 20px;
    width:75%;
    background-color: #fcb654;
}

.form .btn:hover{
    background-color: #ff7c1f; 
}
.form .other{
    margin-top: 20px;
}

.form-control-group input:focus{
    border: 1px solid black;
    border-radius: 5px;
    outline:none;
}

#nu{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    color:black;
}
a:hover{
    color: #ff7c1f;
}

@media only screen and (max-width:400px){
    .login{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgb(246, 248, 252);
        height: 100%;
        width:100%;
        padding:0px 10px;
    }
    
    .login .login-container{
        background-color: white;
        margin-top: 50px;
        height: fit-content;
        padding: 20px 30px;
        font-size: 14px;
        border-radius: 4px;
        box-shadow: 0 1px 10px rgba(0,0,0,0.5);
        width:350px;
    }
    
    .alert{
        font-size: 14px;
    }   
}