<div class="container-fluid login">
    
        <div style="display:none" id="nope" class="alert alert-warning" role="alert">
            Login <strong>Mobile Number/ Password</strong> is Invalid!
        </div>

    <div class="login-container">
        <h4>Welcome Back !</h4>
        <form [formGroup]="loginform" class="form">
        
            <div class="form-control-group">
                <input formControlName="phone" type="text" name="phone" id="phone" placeholder="Mobile Number" required>
                <div *ngIf="(f.phone.touched || submitted) && f.phone.errors">
                    <div *ngIf="f.phone.errors!.required">
                        <i style="color:tomato ; margin-top: -20px; font-size: 14px;" class="fa fa-exclamation-circle" aria-hiden="true">
                            <span style="margin-left:10px; font-family:  Helvetica, Arial, sans-serif;">Please enter your phone number</span>
                        </i>    
                    </div>
                </div>
            </div>
        
            <div class="form-control-group">
                <input formControlName="pass" type="password" name="password" id="pass" placeholder="Password"><span (click)="toggle()" id="vis" class="vis"><i id="tog" class="ri-eye-fill"></i></span>
                <div *ngIf="(f.pass.touched || submitted) && f.pass.errors">
                    <div *ngIf="f.pass.errors!.required">
                        <i style="color:tomato ; margin-top: 20px; font-size: 14px;" class="fa fa-exclamation-circle" aria-hiden="true">
                            <span style="margin-left:10px; font-family:  Helvetica, Arial, sans-serif;">Please enter password</span>
                        </i>    
                    </div>
                </div>
            </div>
        
            <button (click)="log($event)" class="btn btn-md" type="submit" id="lgb">LOGIN</button>

            <div class="other">
                <p>Forgot Password? <a routerLink="forgot">click here</a></p>
                <p id="nu"><a routerLink="register">Create new account </a><i class="ri-arrow-right-line"></i></p>
            </div>
        </form>
    </div>
</div>